@use 'styles/abstracts' as *;

.section {
  @include flex(column, flex-start, stretch, $space-sm);
  min-width: 0;
}

.title {
  margin: 0;
  font-size: $font-size-xl;
  font-weight: $font-weight-semibold;
}

.list {
  @include flex(column, flex-start, stretch);
  overflow-y: auto;
}

.modal {
  height: 100%;
  min-height: 380px;

  .list {
    flex: 1;
    max-height: none;
  }
}

.section:not(.modal) {
  padding-top: $space-sm;
  border-top: 1px solid $color-border;

  .title {
    font-size: $font-size-sm;
    color: $color-text-muted;
    font-weight: $font-weight-medium;
  }

  .list {
    max-height: 420px;
  }
}
