@use 'styles/abstracts' as *;

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: $space-md;

  @include below('sm') {
    grid-template-columns: 1fr;
  }
}
